#title {
  color: white;
}

body {
  font-family: "Montserrat";
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Montserrat";
}


/* Navigation Bar */

.big-heading {
  font-size: 3.4rem;
  font-weight: 900;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 9%;
  background-color: #f0134d;
}

.navbar {
  padding-left: 0px;
  padding-bottom: 3rem;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Ubuntu";
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}


/* Buttons*/

.download-button {
  margin: 5% 3% 3% 0%;
}

.check {
  padding-top: 30px;
  color: #ff6f5e;
}

.check:hover {
  color: #f0134d;
}


/* title image */

.title-image {
  width: 55%;
  transform: rotate(25deg);
  position:absolute;
  right: 150px;
}


/* Feature section */

#features {
  background-color: #fff;
  text-align: center;
  padding: 5% 10%;
  position: relative;
}

.heading-features {
  font-weight: 900;
  color: #313131;
  margin-bottom: 10px;
}

/* Testimonial section */

#testimonials {
  background-color: #ff6f5e;
  text-align: center;
}

.heading-testimonial {
  font-weight: 900;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 30px;
}

.testimonialDog {
  width: 20%;
  border-radius: 100%;
}

.testimonialLady {
  width: 20%;
  border-radius: 100%;
}

.hphcam
{
  width: 20%;
  border-radius: 100%;
}

 .willicam {
  width: 20%;
   border-radius: 100%;
 }

.testimonialText {
  color: #f5f0e3;
  font-weight: bold;
}

.carousel-item {
  padding: 5% 15%;
}


/* press */

#press {
  background-color: #ff6f5e;
  text-align: center;
  padding: 3% 15%;
}

.press-logo {
  width:15%;
  margin: 20px 20px 50px;
}


/* HPh */
#HPh {
  padding: 7% 15%;
  text-align:center;
  background-color: #f0134d;
}


/* HPh2 */
#HPh2 {
  background-color: #ff6f5e;
    padding: 7% 15%;
}

.HPhLady {
  width: 40%;
  margin-top: 3%;
  margin-left: 25%;
  border-radius: 20%;
}


/* WrapUp */

#WrapUp {
  padding: 7% 15%;
  background-color: #f0134d;
  text-align:center;
  color: #fff;
}


/* footer */

#footer {
  background-color: #fff;
  color: grey;
  font-weight: 600;
  padding: 7% 15%;
  text-align: center;
}

.minibut {
    margin: 20px 10px;
  }
